{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>The Sachin S Bhat</h1>
    <p>This is the official website of <a href="https://twitter.com/TheSachinSBhat">The Sachin S Bhat</a>.</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> The 10,000 Ideas Initiative</h3>
      <ul>
        <li>It lists out all the Ideas that <a href="https://twitter.com/TheSachinSBhat">The Sachin S Bhat</a> will be working on.</li>
        <li>Check out the <a href="http://sachinbhat.herokuapp.com/ideas/">10,000 Ideas</a> to learn more!</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
